*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}
.dashboard{
    background-color: rgb(0, 197, 259);
    font-family: "Roboto";
    font-weight: 600;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 6fr;
}
.dashboard-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.dashboard-header > a {
    justify-self: start;
    font-size: 20px;
}
.dashboard-elements{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.group-1 {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
}
.home{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.home > a{
    justify-self: start;
}
.profile {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.profile > a{
    justify-self: start;
}
.messages {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.messages > a{
    justify-self: start;
}
.history{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.history > a{
    justify-self: start;
}
.tasks{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.tasks > a{
    justify-self: start;
}
.communities {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.communities > a{
    justify-self: start;
}
.group-2{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, 20%);
}
.settings {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.settings > a{
    justify-self: start;
}
.support {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.support > a{
    justify-self: start;
}
.privacy{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.privacy > a{
    justify-self: start;
}
.author-info{
    display: grid;
    height: 100%;
    grid-template-rows: 0.5fr 1fr 0.5fr 10fr;
}
.search-bar{
    display: grid;
    grid-template-columns: 0.4fr 4fr 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
}
img[alt="search-svg"]{
    justify-self: end;
}
.search-bar > input {
    width: 95%;
    border-width: 0;
    height: 60%;
    background-color: #d3e5f0;
    border-radius: 20px;
}
input:focus{
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    font-family: "Roboto";
}
img[alt="bell-svg"]{
    justify-self: end;
}
img[alt="cat-png"]{
    border-radius: 50%;
}
.search-bar > p {
    justify-self: start;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
}
.introduction{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
button{
    width: 80%;
    height: 30%;
    border-width: 0;
    background-color: rgb(0, 197, 259);
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto";
}
.intro-text{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
}
.text{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
}
.text > small{
    font-family: "Roboto";
    font-weight: 700;
}
.text > p{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
}
.headings {
    display: grid;
    background-color: #d3e5f0;
    box-shadow: inset 0px 3px 3px rgb(175, 174, 174);
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
    font-family: "Roboto";
}
.project-info{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}
.project-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 85%;
}
/*  */
.info{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.header{
    font-weight: 700;
    font-size: 13px;   
    font-family: "Roboto";
}
.header + p{
    font-size: 11px;
    font-family: "Roboto";
}

